.section-10__bg {
    background: #ffa800;
}

.block-10__title {
    @extend%title__h3;
}

.block-10__img {
    display: block;
    position: absolute;
    bottom: -129px;
    z-index: 1;
    width: 183px;
    height: 220px;
    background-image: url("/images/icons/block-10-icon.svg");
    transform: translateY(-50px);
}

.block-10__wrap {
    align-items: center;
    height: 181px;
    &-mob {
        display: none;
    }
}

.block-10__btn {
    &-text {
        width: 220px;
        height: 40px;
        font-family: "a_futuraroundbold";
        font-size: 20px;
        line-height: 37px;
        text-align: center;
        color: #ffffff;
        background: #2f80ed;
        border-radius: 22px;
        cursor: pointer;
    }
    &-text:hover {
        background: #77cf08;
    }
    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 230px;
        height: 50px;
        border: 1px dashed #ffffff;
        border-radius: 28px;
    }
    &-inner {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 767px) {
    .block-10__wrap {
        display: none;
        &-mob {
            display: flex;
            padding: 25px 0;
        }
    }
    .block-10__img {
        display: block;
        position: absolute;
        z-index: 1;
        width: 132px;
        height: 158px;
        background-image: url("/images/icons/block-10-icon.svg");
        background-repeat: no-repeat;
        transform: translateY(0);
        background-size: contain;
        bottom: 0;
    }
    .block-10__title {
        margin: 0;
        padding-top: 15px;
        font-size: 20px !important;
        line-height: 25px !important;
    }
    .block-10__title{
        padding-top: 0;
        padding-bottom: 10px;
    }
}
@media(max-width: 575px){
    .block-10__wrap-mob {
        padding: 1px 0;}
    .block-10__img {
        position: relative;
        bottom: 0;
        top: 0;
    }
.block-10__btn-link{
    min-width: 191px;
    width: 191px;
    height: 50px;
    position: relative;
    z-index: 2;
}
    .block-10__btn-text{
        min-width: 178px;
        width: 178px;
        height: 40px;
    }
.block-10__title{
    padding: 20px 0;
    width: 150px;
    max-width: 100%;
    text-align: left !important;
}
    .block-10__btn-inner {
        justify-content: flex-start;
    }
}
@media(max-width: 352px){
    .block-10__btn-text {
        min-width: 171px;
        max-width: 100%;
    }
    .block-10__btn-link {
        min-width: 188px;
    }
}
