.section-6__bg {
    padding: 40px 0;
    background: #13B0B1;
}

.block-6__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.block-6__title {
    margin-bottom: 20px;
    @extend %title__h3;
}

.block-6__img {
    &-bear {
        display: block;
        width: 195px;
        height: 245px;
        background: url("./images/icons/block-6-img-beer.svg") no-repeat center center transparent;
    }
    &-smart {
        display: block;
        width: 204px;
        height: 300px;
        background: url("./images/icons/block-6-img-smart.svg") no-repeat center center transparent;
    }
}

.block-6__container-text {
    padding: 4px;
    font-family: 'a_futuraroundbold';
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background: #FF8543;
    border-radius: 22px;
}

.block-6__desc {
    border: 1px dashed #FFFFFF;
    border-radius: 0px 30px 30px 30px;
    &-text {
        margin: 5px;
        padding: 10px;
        font-family: 'geometriabold';
        font-size: 14px;
        line-height: 18px;
        color: #4F4F4F;
        background: #FFFFFF;
        border-radius: 0px 24px 24px 24px;
    }
}

.block-6__google-icon {
    display: block;
    width: 140px;
    height: 47px;
    background: url("./images/block-6-icon-google.png") no-repeat center center #fff;
    border-radius: 24px;
    &:hover {
        background: url("./images/block-6-icon-google-hover.png") no-repeat center center #fff;
    }
}

.block-6__apple-icon {
    display: block;
    width: 140px;
    height: 47px;
    background: url("./images/block-6-icon-apple.png") no-repeat center center #fff;
    border-radius: 24px;
    &:hover {
        background: url("./images/block-6-icon-apple-hover.png") no-repeat center center #fff;
    }
}

.block-6_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.block-6__text-wrap {
    margin-bottom: 25px;
}

.block-6__items {
    margin-top: 50px;
}

.block-6__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-title {
        padding-left: 4px;
        padding-right: 4px;
        font-family: 'a_futuraroundbold';
        font-size: 20px;
        line-height: 29px;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        background: #FF8543;
        border-radius: 22px;
    }
    &-icon_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 73px;
        height: 73px;
        border: 1px dashed #FFFFFF;
        border-radius: 50%;
    }
    &-icon_gram {
        display: block;
        width: 60px;
        height: 60px;
        background: url("./images/icons/block-6-icon-gram.svg") no-repeat center center #fff;
        border-radius: 50%;
    }
    &-text {
        margin-top: 15px;
        font-family: 'Geometria-Regular';
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
    }
    &-decs {
        display: flex;
        flex-direction: column;
        width: 260px;
    }
}

.block-6__bear-wrap,
.block-6__smart-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

@media (min-width:992px) and (max-width:1199px) {
    .block-6__item-decs {
        width: 200px;
    }
}

@media (max-width:991px) {
    .block-6_btn {
        justify-content: space-around;
    }
    .block-6__item-decs {
        margin-left: 20px;
        width: 100%;
    }
    .block-6__item {
        justify-content: center;
    }
    .block-6__item:not(:first-child) {
        margin-top: 30px;
    }
    .block-6__text-wrap {
        margin-top: 20px;
        text-align: center;
    }
    .block-6__item-icon_wrap {
        min-width: 73px;
    }
    .block-6__img-bear {
        width: 168px;
        height: 196px;
        background-size: contain;
    }
    .block-6__img-smart {
        width: 137px;
        height: 202px;
        background-size: contain;
    }
}

@media (max-width:575px) {
    .section-6__bg {
        padding: 30px 0;
    }
    .block-6__text-wrap {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .block-6__container {
        margin: 20px 0 30px 0;
        height: unset;
    }
    .block-6__items {
        margin-top: 0;
    }
    .block-6_btn {
        justify-content: space-between;
    }
    .block-6__img-bear {
        background: url("./images/icons/block-6-img-beer-mob.svg") no-repeat center center transparent;
    }
}