.section-9__bg {
    position: relative;
    padding: 50px 0 90px 0;
    z-index: 1;
    background: #13b0b1;
}

.block-9__title {
    margin-bottom: 30px;
    @extend %title__h3;
}

.item__img-mob {
    display: none;
}

.item__desc {
    &-year {
        font-family: "a_futuraroundbold";
        font-size: 44px;
        line-height: 56px;
        color: #ffffff;
    }
    &-text {
        font-family: "Geometria-Regular";
        font-size: 14px;
        line-height: 120%;
        color: #ffffff;
    }
}

.block-9__item {
    &-wrap {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        margin-bottom: 40px;
        border: 1px dashed #ffffff;
        border-radius: 0px 30px 30px 30px;
        &_1 {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            padding: 5px 5px 5px 12px;
            border: 1px dashed #ffffff;
            border-radius: 0px 30px 30px 30px;
        }
    }
    &-inner {
        position: relative;
    }
    &-desc {
        margin-top: 25px;
        width: 290px;
    }
    &-img_1 {
        z-index: -1;
    }
    &-img_1::before {
        content: "";
        position: absolute;
        background: #ff8543;
        height: 21px;
        width: 380%;
        left: -200%;
        border-radius: 24px;
        top: 23%;
        z-index: 2;
    }
    &-img_4 {
        z-index: -1;
    }
    &-img_4::before {
        content: "";
        position: absolute;
        background: #ff8543;
        height: 21px;
        width: 403%;
        right: -200%;
        border-radius: 24px;
        top: 23%;
        z-index: 2;
    }
}

.item__img {
    position: relative;
    z-index: 5;
    max-width: 100%;
    border-radius: 0px 25px 25px 25px;
}

.block-9__item-wrap_mob {
    display: none;
}

@media (min-width: 576px) and (max-width: 991px) {
    .block-9__item-wrap {
        flex-direction: column;
        &_1 {
            flex-direction: column;
        }
    }
    .item__img {
        width: 100%;
        height: 326px;
    }
    .block-9__item-desc {
        margin-top: 5px;
        width: 100%;
    }
    .item__desc-text {
        min-height: 90px;
    }
    .block-9__item-img_1::before {
        // width: 250%;
        bottom: 23%;
        top: unset;
    }
    .block-9__item-img_4::before {
        bottom: 23%;
        top: unset;
    }
}

@media (max-width: 767px) {
    .item__img {
        height: 245px;
    }
    .item__desc-text {
        min-height: 115px;
    }
    .block-9__item-img_1::before {
        // width: 270%;
        bottom: 31%;
    }
    .block-9__item-img_4::before {
        bottom: 31%;
    }
}

@media (max-width: 575px) {
    .block-9__item-img_1::before {
        content: none;
    }
    .block-9__item-img_4::before {
        content: none;
    }
    .block-9__item-wrap {
        flex-direction: column;
    }
    .block-9__item-wrap,
    .block-9__item-wrap_1 {
        display: none;
    }
    .block-9__item-wrap_mob {
        display: block;
    }
    .item__img {
        width: 220px;
        height: 182px;
    }
    .item__img {
        display: none;
        &-mob {
            display: block;
            border-radius: 0 25px 25px 25px;
            // width: 220px;
            // height: 146px;
            max-width: 100%;
        }
    }
    .block-9__item-desc {
        margin-top: 10px;
        width: 100%;
    }
    .block-9__item-wrap_mob {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border: 1px dashed #ffffff;
        border-radius: 0px 30px 30px 30px;
        margin-bottom: 12px;
    }
    .item__desc-text {
        margin-top: 10px;
        margin-bottom: 10px;
        min-height: unset;
    }
    .item__desc-year_mob {
        font-family: "a_futuraroundbold";
        font-size: 44px;
        line-height: 56px;
        color: #ffffff;
        & span {
            display: block;
            transform: rotate(-90deg);
        }
        // transform: rotate(-90deg);
    }
    .block-9__item-img_1 {
        display: flex;
        flex-direction: column;
    }
    .item__desc-year_mob {
        display: flex;
        align-items: center;
    }
    .block-9__title {
        font-family: "a_futuraroundbold";
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
        & span {
            padding: 5px;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
            background: #ff8543;
            border-radius: 22px;
        }
    }
    .section-9__bg {
        background: #2f80ed;
        padding: 20px 0 20px 0;
    }
    .section-9__bg:before {
        content: "";
        position: absolute;
        background: #13b0b1;
        width: 21px;
        height: 97%;
        left: 70px;
        border-radius: 24px 24px 0 0;
        bottom: -1px;
        z-index: -1;
    }
}
