%title__h3 {
    font-family: "a_futuraroundbold";
    font-size: 34px;
    line-height: 43px;
    text-align: center;
    color: #ffffff;
}

.block-3 {
    &__wrap {
        font-family: "a_futuraroundbold";
        background: #ff8543;
    }
    &__title {
        margin-top: 40px;
        margin-bottom: 40px;
        @extend %title__h3;
    }
}

.block-3__list {
    &-items {
        transform: translateX(110px);
    }
    &-img_6 {
        display: inline-block;
        width: 100%;
        height: 360px;
        background: url("./images/block-3-6.jpg") no-repeat right center/contain #fff;
        border-radius: 28px;
        color: #ffffff;
    }
    &-text {
        margin: 0;
        padding: 30px 20px 20px 20px;
        font-family: "Geometria-Regular";
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        font-weight: 700;

    }
    &-item {
        position: relative;
        padding: 15px 0;
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
        width: 270px;
        max-width: 100%;
        cursor: pointer;
        &::before {
            position: absolute;
            left: -110px;
            top: 18%;
            display: block;
            width: 34px;
            height: 34px;
            content: url("./images/icons/block-3-arrow.svg");
        }
        &:hover::before {
            content: url("./images/icons/block-3-arrow-hover.svg");
        }
        &:not(:last-child)::after {
            content: "";
            position: absolute;
            left: -110px;
            bottom: 0;
            width: 140%;
            display: block;
            border-bottom: 1px dashed #ffffff;
        }
    }
}

.block-3__list-item:hover .block-3__item-text {
    background: #13b0b1;
    border-radius: 22px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 5px 13px;
}

.block-3__slider-list {
    margin-bottom: 40px;
    min-height: 525px;
    border: 1px dashed #ffffff;
    border-radius: 28px;
}

.block-3__active .block-3__item-text {
    padding: 5px 13px;
    background: #13b0b1;
    border-radius: 22px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    cursor: pointer;

}
.block-3__list-text_2{
    padding-top: 0;
}
.block-3__active.block-3__list-item::before {

    content: url("./images/icons/block-3-arrow-hover.svg");
}

.block-3__list {
    &-img_1 {
        display: inline-block;
        width: 100%;
        height: 360px;
        background: url("./images/block-3-1.jpg") no-repeat right center/contain #fff;
        border-radius: 28px;
        color: #ffffff;
    }
    &-img_2 {
        display: inline-block;
        width: 100%;
        height: 360px;
        background: url("./images/block-3-2.jpg") no-repeat right center/contain #fff;
        border-radius: 28px;
        color: #ffffff;
    }
    &-img_3 {
        display: inline-block;
        width: 100%;
        height: 360px;
        background: url("./images/block-3-3.jpg") no-repeat right center/contain #fff;
        border-radius: 28px;
        color: #ffffff;
    }
    &-img_4 {
        display: inline-block;
        width: 100%;
        height: 360px;
        background: url("./images/block-3-4.jpg") no-repeat right center/contain #fff;
        border-radius: 28px;
        color: #ffffff;
    }
    &-img_5 {
        display: inline-block;
        width: 100%;
        height: 360px;
        background: url("./images/block-3-5.jpg") no-repeat right center/contain #fff;
        border-radius: 28px;
        color: #ffffff;
    }
    &-img_6 {
        display: inline-block;
        width: 100%;
        height: 360px;
        background: url("./images/block-3-6.jpg") no-repeat right center/contain #fff;
        border-radius: 28px;
        color: #ffffff;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .block-3__list-items {
        margin-bottom: 20px;
        column-count: 2;
        transform: translateX(50px);
    }
    .block-3__list {
        &-item {
            &::before {
                left: -50px;
            }
            &:not(:last-child)::after {
                content: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .block-3__list-items {
        column-count: 1;
    }
    .block-3__list-item {
        width: 100%;
    }
    .block-3__list-text {
        padding: 10px 10px 10px 10px;
    }
    .block-3__title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .block-3__mob {
        &-img_1 {
            display: inline-block;
            width: 100%;
            height: 280px;
            background: url("./images/block-3-mob-1.jpg") no-repeat center center/contain #fff;
            color: #ffffff;
        }
        &-img_2 {
            display: inline-block;
            width: 100%;
            height: 280px;
            background: url("./images/block-3-mob-2.jpg") no-repeat center center/contain #fff;
            color: #ffffff;
        }
        &-img_3 {
            display: inline-block;
            width: 100%;
            height: 280px;
            background: url("./images/block-3-mob-3.jpg") no-repeat center center/contain #fff;
            color: #ffffff;
        }
        &-img_4 {
            display: inline-block;
            width: 100%;
            height: 280px;
            background: url("./images/block-3-mob-4.jpg") no-repeat center center/contain #fff;
            color: #ffffff;
        }
        &-img_5 {
            display: inline-block;
            width: 100%;
            height: 280px;
            background: url("./images/block-3-mob-5.jpg") no-repeat center center/contain #fff;
            color: #ffffff;
        }
        &-img_6 {
            display: inline-block;
            width: 100%;
            height: 280px;
            background: url("./images/block-3-mob-6.jpg") no-repeat center center/contain #fff;
            color: #ffffff;
        }
    }
    .block-3__mobile-title {
        margin: 20px 0;
    }
    .block-3__title-text {

        font-family: "a_futuraroundbold";
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
        background: #13b0b1;
        border-radius: 22px;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        padding: 5px 13px;
    }
    .block-3__mobile-text {
        margin-top: 20px;
        font-family: "Geometria-Regular";
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        &:first-child{
            margin: 70px 0 0 0;
        }
    }
    .block-3__slider-arrows_wrap {
        position: relative;
    }
    .block-3__slider-arrows {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        width: 100%;
    }
    .block-3__arrow {
        &-next {
            background: url("./images/icons/block-3-mob-arrow-right.svg") no-repeat center center transparent;
            width: 13px;
            height: 25px;
            cursor: pointer;
        }
        &-prev {
            background: url("./images/icons/block-3-mob-arrow-left.svg") no-repeat center center transparent;
            width: 13px;
            height: 25px;
            cursor: pointer;
        }
    }
    .block-3__appendDots {
        display: flex;
        justify-content: center;
        transform: translateY(19px);
        margin: 0 10px;
        position: relative;
        z-index: 2;
        cursor: pointer;
        & li {
            width: 16px;
            height: 13px;
            content: url("./images/icons/block-3-mob-dots.svg");
        }
        & li:not(:last-child) {
            margin-right: 10px;
        }
    }
    .block-3__appendDots .slick-active {
        width: 16px;
        height: 13px;
        content: url("./images/icons/block-3-mob-dots-active.svg") !important;
        opacity: 1;
    }
    .animal__item {
        font-size: 12px;
        line-height: 15px;
    }
    .animal__items {
        width: 194px;
    }
    .animal__title {
        margin-top: 0;
        font-size: 20px;
        line-height: 25px;
    }
}
